<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="header :: header"></th:block>
</head>
<body>
	<div class="container">
		<th:block th:include="menu :: menu"></th:block>
		<h2>User Detail</h2>
		<form class="form-horizontal">
			<div class="form-group">
				<label class="control-label col-sm-2" for="user-id">Id:</label>
				<div class="col-sm-10">
					<p class="form-control" id="user-id" th:text="${user.id}" />
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="user-login">Login:</label>
				<div class="col-sm-10">
					<p class="form-control" id="user-login" th:text="${user.login}" />
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="user-password">Password:</label>
				<div class="col-sm-10">
					<p class="form-control" id="user-password"
						th:text="${user.password}" />
				</div>
			</div>
		</form>
	</div>
</body>
</html>